%p#notice= notice
%p
  %strong= "Title#{@question.title}"
  .row
    .col-xs-6
      %h1
        = link_to 'BLAD BLUE', invalid_answers_path(team: 'blue'), remote: true
    .col-xs-6
      %h1
        = link_to 'BLAD red', invalid_answers_path(team: 'red'), remote: true
  %table.table
    - @question.answers.each do |answer|
      %tr
        %td= link_to 'Blue', valid_answer_path(answer, team: 'blue'), remote: true
        %td= answer.title
        %td= answer.points
        %td= link_to 'Red', valid_answer_path(answer, team: 'red'), remote: true

= link_to 'Nastepne pytanie', question_path(@question.next || Question.first)
