%h1= @question.title
%table.table
  %tbody
    %th Odpowiedź
    %th Punkty
    %th
  - @question.answers.each do |answer|
    %tr[answer]
      %td= answer.title
      %td= answer.points
      %td.text-right= link_to 'Przyznaj do puli', valid_answer_path(answer), remote: true, class: 'btn btn-default'
- content_for :next_question do
  %p.text-center
    - if @question.next
      = link_to 'Nastepne pytanie', question_path(@question.next), class: 'btn btn-default disabled', id: 'next-question'

