!!!
%html
  %head
    %title Programistok
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    .container
      .well.well-sm
        = form_for :custom_notification, url: new_custom_notifications_path, remote: true, method: :get do |f|
          = f.text_area :content, name: 'content'
          = f.submit 'Zapodaj żart', class: 'btn btn-default'
        %h4.text-center
          Aktualna pula punktow:
          = number_field_tag(:current_score, 0, disabled: true)
        = link_to 'Przydziel pule', 'javascript:void(0)', class: 'btn btn-primary pull-left assign-score', data: {team: 'blue'}
        = link_to 'Przydziel pule', 'javascript:void(0)', class: 'btn btn-danger pull-right assign-score', data: {team: 'red'}
        .clearfix
      = yield
