!!!
%html
  %head
    %title Programistok
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    %audio#introWav{:preload => "auto", :src => "/intro.wav"}
    %audio#funnyWav{:preload => "auto", :src => "/funny.wav"}
    %audio#valid{:preload => "auto", :src => "/valid.wav"}
    %audio#invalid{:preload => "auto", :src => "/invalid.wav"}
    .container
      .well
        .row
          .col-xs-6
            %p
              Nazwa druzyny 1:
              %input.teamName{ data: { team: 'blue' } }
            %p
              Aktualny wynik
              %b#scoreBlue
            %p
              Błędne odpowiedzi
              %b#invalidBlue
            %p
              = link_to 'Błąd', 'javascript:void(0)', class: 'btn btm-sm btn-primary invalid-answer', id: 'invalidBlue', data:{ team: 'blue' }
          .col-xs-6.text-right
            %p
              Nazwa druzyny 2:
              %input.teamName{ data: { team: 'red' } }
            %p
              Aktualny wynik
              %b#scoreRed
            %p
              Błędne odpowiedzi
              %b#invalidRed
            %p
              = link_to 'Błąd', 'javascript:void(0)', class: 'btn btm-sm btn-danger invalid-answer', id: 'invalidRed', data:{ team: 'red' }
      .well.well-sm
        .row
          %p.text-center
            = link_to 'pokaż pytanie', show_question_title_game_path, class: 'btn btn-default show-question', remote: true
            = yield :next_question
            = link_to 'pokaz wszystkie odpowiedzi', show_all_answers_game_path, class: 'btn btn-default disabled', remote: true, id: 'show-all'
          .col-xs-4
            = link_to 'Przydziel pule', 'javascript:void(0)', class: 'btn btn-primary pull-left assign-score disabled', data: {team: 'blue'}
          .col-xs-4
            Aktualna pula punktow:
            = number_field_tag(:current_score, 0, disabled: true)
          .col-xs-4
            = link_to 'Przydziel pule', 'javascript:void(0)', class: 'btn btn-danger pull-right assign-score disabled', data: {team: 'red'}
      = yield
      .well.well-sm
        = form_for :custom_notification, url: custom_notification_game_path, remote: true, method: :get do |f|
          = f.text_area :content, name: 'content', style: 'width:100%'
          = f.submit 'Zapodaj żart', class: 'btn btn-default'
          .pull-right
            = link_to 'schowaj intro', hide_intro_game_path, remote: true, class: 'btn btn-success', id: 'hide-intro'
            = link_to 'PLAY INTRO', 'javascript:void(0)', class: 'btn btn-warning play-sounds', data: {sound_type: 'introWav'}
            = link_to 'PLAY HEHE', 'javascript:void(0)', class: 'btn btn-warning play-sounds', data: {sound_type: 'funnyWav'}


