!!!
%html
  %head
    %title Programistok
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    .container
      .well.well-sm
        = form_for :custom_notification, url: new_custom_notifications_path, remote: true, method: :get do |f|
          = f.text_area :content, name: 'content'
          = f.submit 'Zapodaj żart', class: 'btn btn-default'
        %h4.text-center
          Aktualna pula punktow:
          %b.current-score 0
        = link_to 'Przydziel pule', assign_score_path(team: 'blue'), class: 'btn btn-primary pull-left', remote: true
        = link_to 'Przydziel pule', assign_score_path(team: 'red'), class: 'btn btn-danger pull-right', remote: true
        .clearfix
      = yield
